.form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.formInput{
    width: 60%;
    padding: 14px 20px;
    margin: 20px 0;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 16px;
}
.alert {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}
.alert div{
    width: 60%;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
}
.alertBody{
    display: flex;
    align-items: center;
}
.alertBody h4{
    margin-right: 10px;
}
.alertBody p{
    margin:0;
}
.alert-enter{
    opacity: 0;
}
.alert-enter-active{
    transition: opacity 500ms ease-out;
    opacity: 1;
}
.alert-exit-active{
    transition: opacity 350ms ease-out;
    opacity: 0;
}
.newNoteAlert{
    background-color: #86c232;
}
.removeNoteAlert{
    background-color: rgb(226, 43, 43);
}
.warning{
    background-color: orange;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}
.loader{
    display: flex;
    justify-content: center;
}

